body {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    background: #056f87;
}
.section{
    margin-top: 20px;
    background-color: rgb(44, 42, 42);
    font-size: 105%;
    color: rgb(233, 233, 233);
    font-family: 'Verdana', sans-serif;
}

.header{
    background: rgb(44, 42, 42);
}

.header,
.section{
    max-width: 1200px;
    width: 100%;
    border-radius: 10px;
}

.header .container{
    display: flex;
    justify-self: space-between;
    align-items: center;
}

.header .container .menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.header .container .menu li{
    list-style: none;
    padding: 7px;
    background-color: #056f87;
    box-shadow: 1px 1px 0px 3px black;
    border-radius: 5px;
    margin: 0 10px;
}

.header .container .menu li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-family: 'Verdana', sans-serif;
}

.header .container,
.section .container{
    max-width: 1200px;
    width: 100%;
    position: relative;
    padding: 40px;
    box-sizing: border-box;
}

.header .container .logo{
    width: 130px;
    height: 100px;
}

.header .container .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section .images{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section .images .img-container{
    width: 33%;
    height: 250px;
    margin-bottom: 7px;
    box-sizing: border-box;
}

.section .images .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}